<% if @empresa.presupuesto == nil %>
	<div class="row">
		<%= link_to "Crear Presupuestos Anuales",
		  new_empresa_presupuesto_path(@empresa),
		  class: "btn btn-success" %>
	</div>
<% else %>
	<%= form_with model: @presupuesto, url: @presupuesto,
	method: :patch do |form| %>
	 <div class="row border-bottom text-danger my-2">
		 <h4>Recursos humanos</h4>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>ASUNCIÓN DEL EMPRESARIO</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr1, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Calcular las horas previstas por el coste de la hora</p>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>TÉCNICO DE PREVENCIÓN</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr2, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Coste anual bruto de la nómina</p>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>TRABAJADOR DESIGNADO</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr3, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Calcular las horas previstas por el coste de la hora</p>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>TRABAJADOR CON OTRAS FUNCIONES DE PREVENCIÓN</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr4, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Calcular las horas previstas por el coste de la hora</p>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>OTROS RECURSOS HUMANOS</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :p58, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Calcular las horas previstas por el coste de la hora</p>
		 </div>
	 </div>
	 <div class="row border-bottom texte-danger my-2">
		 <h4>Recursos materiales</h4>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>EQUIPOS</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr6, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Compras, mantenimiento, calibración, etc.</p>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>INSTALACIONES</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr7, class: "form-control" %>
		 </div>
		 <div class="col-12">
			 <p>Mantenimiento, reformas, etc</p>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>MATERIAL DE OFICINA</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr8, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>OTROS RECURSOS MATERIALES</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr9, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom text-danger my-2">
		 <h4>Servicios concertados</h4>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>SERVICIO DE PREVENCIÓN AJENO</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr10, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>LABORATORIO DE ANÁLISIS</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr11, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>LABORATORIO HIGIÉNICO</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr12, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>REVISIONES SUJETAS ANORMATIVA</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr13, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>NORMALIZACIÓN DE EQUIPOS DE TRABAJO POR EMPRESAS ACREDITADAS</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr14, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>OTROS SERVICIOS</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr15, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom text-danger my-2">
		 <h4>Actividades preventivas</h4>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>ACTIVIDADES PROGRAMADAS</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr16, class: "form-control" %>
		 </div>
	 </div>
	 <div class="row border-bottom">
		 <div class="col-10">
			 <h5>OTRAS ACTIVIDADES</h5>
		 </div>
		 <div class="col-2">
			 <%= form.number_field :pr17, class: "form-control" %>
		 </div>
	 </div>
	 <div class="actions">
		 <%= form.submit "Guardar Presupuestos Auales", class: "btn btn-dark" %>
	 </div>
	<% end %>
<% end %>
