<div class="row">
	<%= form_tag(reportPlan_empresa_path) do |form| %>

	  <div class="field">
	    <%= form.label "Ciudad de firma" %>
	    <%= form.text_field :ciudadFirma %>
	  </div>

	  <div class="field">
	    <%= form.label "Fecha de firma" %>
	    <%= form.select_datetime(:fechaFirma, order: [:day, :month, :year],
			date_separator: "/" %>
	  </div>

	  <div class="actions">
	    <%= form.submit %>
	  </div>
	<% end %>
</div>
