<div class="row">
	<%= form_with model: @trabajador, url: trabajador_path(@trabajador),
	 method: :patch do |form| %>
	  <% if trabajador.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(trabajador.errors.count, "error") %> prohibited this trabajador from being saved:</h2>

	      <ul>
	        <% trabajador.errors.each do |error| %>
	          <li><%= error.full_message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

		<div class="field">
	    <%= form.label "Centro", class: "form-label" %>
	    <%= form.collection_select :centro_id, @centros, :id, :nombre,
			{prompt: "Selecciona centro"}, {class: "form-select"} %>
	  </div>

	  <div class="field">
	    <%= form.label :nombre, class: "form-label" %>
	    <%= form.text_field :nombre, class: "form-control" %>
	  </div>

	  <div class="field">
	    <%= form.label :apellidos, class: "form-label" %>
	    <%= form.text_field :apellidos, class: "form-control" %>
	  </div>

	  <div class="field">
	    <%= form.label :puesto, class: "form-label" %>
	    <%= form.text_field :puesto, class: "form-control" %>
	  </div>

		<div class="field">
			<%= form.label "Indica si es responsable de la empresa", class: "form-check-label" %>
			<%= form.check_box :es_responsable, {class: "form-check-input"} %>
		</div>

		<h3 class="form-label">Situaciones especiales</h3>

		<div class="input-group gap-3 mb-3">

			<div class="input-group-text gap-2">
				<%= form.label "Embarazada", class: "form-check-label" %>
				<%= form.check_box :embarazo, {class: "form-check-input"} %>
			</div>

			<div class="input-group-text gap-2">
				<%= form.label :lactante, class: "form-check-label" %>
				<%= form.check_box :lactante, {class: "form-check-input"} %>
			</div>

			<div class="input-group-text gap-2">
				<%= form.label :sensible, class: "form-check-label" %>
				<%= form.check_box :sensible, {class: "form-check-input"} %>
			</div>

			<div class="input-group-text gap-2">
				<%= form.label :discapacidad, class: "form-check-label" %>
				<%= form.check_box :discapacidad, {class: "form-check-input"} %>
			</div>

			<div class="input-group-text gap-2">
				<%= form.label :menor, class: "form-check-label"  %>
				<%= form.check_box :menor, {class: "form-check-input"} %>
			</div>
		</div>

		<h3>Responsabilidades</h3>

				<div class="input-group gap-3 mb-3">
					<div class="input-group-text gap-2">
						<%= form.label "Incendio", class: "form-check-label" %>
						<%= form.check_box :rincendio, {class: "form-check-input"} %>
					</div>

					<div class="input-group-text gap-2">
						<%= form.label "Evacuación", class: "form-check-label" %>
						<%= form.check_box :revacuacion, {class: "form-check-input"} %>
					</div>

					<div class="input-group-text gap-2">
						<%= form.label "Primeros auxilios", class: "form-check-label" %>
						<%= form.check_box :rauxilio, {class: "form-check-input"} %>
					</div>
				</div>


	  <div class="actions">
	    <%= form.submit "Guardar Trabajador", class: "btn btn-dark" %>
	  </div>
	<% end %>

</div>
