<div class="row">
		<h2>Lista de trabajadores</h2>
</div>
<div class="row">
	<table>
		<thead>
			<tr>
				<th>Nombre y apellidos</th>
				<th>Puesto</th>
				<th>Centro</th>
				<th colspan="2">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @centro.trabajadors.each do |t| %>
				<tr>
					<td><%= t.nombre %> <%= t.apellidos %></td>
					<td><%= t.puesto %></td>
					<td><%= t.centro.nombre %></td>
					<td><%= link_to mi.visibility.style("color: blue"), trabajador_path(t),
					  title: "Mostrar" %></td>
					<td><%= link_to mi.settings.style("color: rgb(255,165,0);"),
					  edit_trabajador_path(t), title: "Editar" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="row">
	<%= link_to "Dar de alta nuevo trabajador",
	 new_centro_trabajador_path(@centro),	class: "btn btn-success" %>
</div>
<div class="row">
	<%= link_to "Atrás", empresa_path(@centro.empresa_id), class: "btn btn-danger" %>
</div>
