<div class="row">
	<h1>Editando trabajador:</h1>
	<h2><%=@trabajador.nombre %> <%=@trabajador.apellidos %></h2>
</div>

<%= render 'form_edit', trabajador: @trabajador %>

<div class="row">
	<%= link_to 'Mostrar', @trabajador, class: "btn btn-warning" %>
</div>
<div class="row">
	<%= link_to 'Atrás', centro_path(@centro), class: "btn btn-danger" %>
</div>
