<div class="row">
	<h1>Trabajador@</h1>
	<h3><%= @trabajador.nombre %> <%= @trabajador.apellidos %></h3>
</div>

<table id= "showTrabajador">
	<tr>
		<th>Puesto:</th>
		<td colspan="4"><%= @trabajador.puesto %></td>
	</tr>

	<tr>
		<th>Embarazo</th>
		<th>Lactante</th>
		<th>Sensible</th>
		<th>Discapacidad</th>
		<th>Menor</th>
	</tr>
	<tr>
		<td>
			<% if @trabajador.embarazo == 0 %>
				NO
			<% else %>
				SI
			<% end %>
		</td>
		<td>
			<% if @trabajador.lactante == 0 %>
				NO
			<% else %>
				SI
			<% end %>
		</td>
		<td>
			<% if @trabajador.sensible == 0 %>
				NO
			<% else %>
				SI
			<% end %>
		</td>
		<td>
			<% if @trabajador.discapacidad == 0 %>
				NO
			<% else %>
				SI
			<% end %>
		</td>
		<td>
			<% if @trabajador.menor == 0 %>
				NO
			<% else %>
				SI
			<% end %>
		</td>
	</tr>

	<% if @trabajador.activo == 1 %>
		<tr>
		  <th>Fecha alta:</th>
		  <td colspan="4"><%= Time.at(@trabajador.fecha_alta).strftime("%d/%m/%Y") %></td>
		</tr>
		<div class="row">
			<%= link_to "Dar de baja", dar_baja_trabajador_path(@trabajador),
			 class: "btn btn-secondary" %>
		</div>
	<% else %>
		<tr>
			<th>Fecha alta:</th>
			<td colspan="4"><%= Time.at(@trabajador.fecha_alta).strftime("%d/%m/%Y") %></td>
		</tr>
		<% if @trabajador.fecha_baja != nil %>
			<tr>
		  	<th>Fecha baja:</th>
				<td colspan="4"><%= Time.at(@trabajador.fecha_baja).strftime("%d/%m/%Y") %></td>
			</tr>
			<div class="row">
				<%= link_to "Dar de alta", dar_alta_trabajador_path(@trabajador),
				 class: "btn btn-secondary" %>
			</div>
		<% end %>
	<% end %>
</table>

<div class="row">
	<%= link_to 'Editar', edit_trabajador_path(@trabajador), class: "btn btn-warning" %>
</div>

<div class="row">
	<%= link_to 'Atrás', centro_path(@centro), class: "btn btn-danger" %>
</div>
