<div class="row">
	<h1>Usuarios</h1>
</div>
<div class="row">
	<table>
	  <thead>
	    <tr>
				<th>Usuario</th>
	      <th>Nombre y apellidos</th>
	      <th>Telefono</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @users.each do |user| %>
	      <tr>
					<td><%= user.email %></td>
	        <td><%= user.nombre %> <%= user.apellidos %></td>
	        <td><%= user.telefono %></td>
	        <td><%= link_to mi.visibility.style("color: blue;"), user,
						:title =>"Mostrar" %></td>
	        <td><%= link_to mi.settings.style("color: rgb(255,165,0);"),
					  edit_user_path(user), :title =>"Editar" %></td>
	        <td><%= link_to mi.delete.style("color: red"), user,
						method: :delete, data: { confirm: '¿Seguro?' },
					  :title =>"Eliminar" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
	<%= link_to 'Nuevo usuario', new_user_path, class: "btn btn-success" %>
</div>
