<div class="row">
	<h1>Politica Preventivas de <%= @empresa.razon_social %></h1>
</div>

<table>
  <thead>
    <tr>
      <th>Pp1</th>
      <th>Pp2</th>
      <th>Pp3</th>
      <th>Pp4</th>
      <th>Pp5</th>
      <th>Pp6</th>
      <th>Pp7</th>
      <th>Pp8</th>
      <th>Pp9</th>
      <th>Pp10</th>
      <th>Pp11</th>
      <th>Pp12</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politica_preventivas.each do |politica_preventiva| %>
      <tr>
        <td><%= politica_preventiva.pp1 %></td>
        <td><%= politica_preventiva.pp2 %></td>
        <td><%= politica_preventiva.pp3 %></td>
        <td><%= politica_preventiva.pp4 %></td>
        <td><%= politica_preventiva.pp5 %></td>
        <td><%= politica_preventiva.pp6 %></td>
        <td><%= politica_preventiva.pp7 %></td>
        <td><%= politica_preventiva.pp8 %></td>
        <td><%= politica_preventiva.pp9 %></td>
        <td><%= politica_preventiva.pp10 %></td>
        <td><%= politica_preventiva.pp11 %></td>
        <td><%= politica_preventiva.pp12 %></td>
        <td><%= link_to 'Show', politica_preventiva %></td>
        <td><%= link_to 'Edit', edit_politica_preventiva_path(politica_preventiva) %></td>
        <td><%= link_to 'Destroy', politica_preventiva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Politica Preventiva', new_politica_preventiva_path %>
