<p id="notice"><%= notice %></p>

<p>
  <strong>Pp1:</strong>
  <%= @politica_preventiva.pp1 %>
</p>

<p>
  <strong>Pp2:</strong>
  <%= @politica_preventiva.pp2 %>
</p>

<p>
  <strong>Pp3:</strong>
  <%= @politica_preventiva.pp3 %>
</p>

<p>
  <strong>Pp4:</strong>
  <%= @politica_preventiva.pp4 %>
</p>

<p>
  <strong>Pp5:</strong>
  <%= @politica_preventiva.pp5 %>
</p>

<p>
  <strong>Pp6:</strong>
  <%= @politica_preventiva.pp6 %>
</p>

<p>
  <strong>Pp7:</strong>
  <%= @politica_preventiva.pp7 %>
</p>

<p>
  <strong>Pp8:</strong>
  <%= @politica_preventiva.pp8 %>
</p>

<p>
  <strong>Pp9:</strong>
  <%= @politica_preventiva.pp9 %>
</p>

<p>
  <strong>Pp10:</strong>
  <%= @politica_preventiva.pp10 %>
</p>

<p>
  <strong>Pp11:</strong>
  <%= @politica_preventiva.pp11 %>
</p>

<p>
  <strong>Pp12:</strong>
  <%= @politica_preventiva.pp12 %>
</p>

<%= link_to 'Edit', edit_politica_preventiva_path(@politica_preventiva) %> |
<%= link_to 'Back', politica_preventivas_path %>
