<div class="row">
	<h1>Responsables de <%= @empresa.razon_social %></h1>
</div>

<div class="row">
	<table>
		<thead>
			<tr>
				<th>Nif</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Cargo</th>
				<th colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% if @responsables.empty? %>
				<tr>
					<td colspan="6">
						No hay ningún responsable añadido todavía
					</td>
				</tr>
			<% else %>
				<% @responsables.each do |responsable| %>
					<tr>
						<td><%= responsable.nif %></td>
						<td><%= responsable.nombre %></td>
						<td><%= responsable.apellidos %></td>
						<td><%= responsable.cargo %></td>
						<td><%= link_to 'Editar', edit_empresa_responsable_path(@empresa, responsable),
							class: "btn btn-small btn-warning" %></td>
						<td><%= link_to 'Eliminar', empresa_responsable_path(@empresa, responsable),
							 method: :delete, data: { confirm: '¿Seguro?' },
							 class: "btn btn-small btn-danger"  %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<div class="row">
	<%= link_to 'Nuevo Responsable', new_empresa_responsable_path(@empresa) %>
</div>
