
<p>
  <strong>Nombre:</strong>
  <%= @responsable.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @responsable.apellidos %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @responsable.nif %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @responsable.cargo %>
</p>

<%= link_to 'Editar', edit_responsable_path(@responsable) %>
<%= link_to 'Atrás', empresa_path(@empresa),
		class: "btn btn-danger text-white" %>
