<div class="row">
	<h1>Responsable: </h1>
	<h1><%= @responsable.nombre %> <%= @responsable.apellidos %></h1>
	<table id="showResponsable">
		<tr>
			<th>Nif</th>
			<td><%= @responsable.nif %></td>
		</tr>
		<tr>
			<th>Cargo</th>
			<td><%= @responsable.cargo %></td>
		</tr>
	</table>
</div>

<div class="row">
	<%= link_to 'Editar', edit_responsable_path(@responsable),
			class: "btn btn-warning" %>
</div>
<div class="row">
	<%= link_to 'Atrás', empresa_path(@empresa),
			class: "btn btn-danger" %>
</div>
