<%= form_with(model: empresa) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
        <% empresa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :razon_social %>
    <%= form.text_field :razon_social %>
  </div>

  <div class="field">
    <%= form.label :cif %>
    <%= form.text_field :cif %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <%= form.label :poblacion %>
    <%= form.text_field :poblacion %>
  </div>

  <div class="field">
    <%= form.label :provincia %>
    <%= form.text_field :provincia %>
  </div>

  <div class="field">
    <%= form.label :cp %>
    <%= form.number_field :cp %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :t_fuera %>
    <%= form.number_field :t_fuera %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
