<div class="row">
	<div class="collapse multi-collapse" id="centros">
		<h2>Centros</h2>
		<table>
			<thead>
				<tr>
					<th>Nombre del Centro</th>
					<th>Direccion</th>
					<th>Poblacion</th>
					<th colspan="3">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if @empresa.centros.empty? %>
					<tr>
						<td colspan="5">No hay ningún responsable creado todavía</td>
					</tr>
				<% else %>
					<% @empresa.centros.each do |c| %>
						<tr>
							<td><%= c.nombre %></td>
							<td><%= c.direccion %></td>
							<td><%= c.poblacion %></td>
							<td><%= link_to mi.visibility.style("color: blue;"),
								 centro_path(c), :title => "Mostrar" %></td>
							<td><%= link_to mi.settings.style("color: rgb(255,165,0);"),
								 edit_centro_path(c), :title => "Editar" %></td>
							<td><%= link_to mi.delete.style("color: red;"),
								 centro_path(c), method: :delete, data: { confirm: '¿Seguro?' },
								 :title => "Eliminar" %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="col-12 text-end">
			<%= link_to 'Añadir Centro', new_empresa_centro_path(@empresa),
			 class: "btn btn-success" %>
		</div>
	</div>
</div>
