<div class="row">
	<div class="collapse multi-collapse" id="responsables">
		<h2>Responsables</h2>
		<table>
			<thead>
				<tr>
					<th>Nombre y apellidos</th>
					<th>Cargo</th>
					<th colspan="3">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if @empresa.responsables.empty? %>
					<tr>
						<td colspan="5">No hay ningún responsable creado todavía</td>
					</tr>
				<% else %>
					<% @empresa.responsables.each do |r| %>
						<tr>
							<td><%= r.nombre + " " + r.apellidos %></td>
							<td><%= r.cargo %></td>
							<td><%= link_to mi.visibility.style("color: blue;"),
								 responsable_path(r) %></td>
							<td><%= link_to mi.settings.style("color: rgb(255,165,0);"),
								 edit_responsable_path(r) %></td>
							<td><%= link_to mi.delete.style("color: red;"),
								 responsable_path(r),
								 method: :delete, data: { confirm: '¿Seguro?' } %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="col-12 text-end">
			<%= link_to 'Añadir responsable', new_empresa_responsable_path(@empresa),
			 class: "btn btn-dark" %>
		</div>
	</div>
</div>
