<div class="row">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal"
	data-bs-target="#emisionEval">
	  Emitir Plan de Evaluación de trabajadores
	</button>
</div>

<!-- Modal -->
<div class="modal fade" id="emisionEval" data-bs-backdrop="static"
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Emitir informe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
				<div class="row">
					<%= form_with url: reportPlan_empresa_path(@empresa),
					 method: :get do |form| %>
					  <div class="field">
					    <%= form.label "Ciudad de firma", class: "form-label" %>
					    <%= form.text_field :ciudadFirma, class: "form-control" %>
					  </div>

					  <div class="field">
					    <%= form.label "Fecha de firma", class: "form-label" %>
					    <%= form.date_field :fechaFirma, class: "form-control" %>
					  </div>

					  <div class="actions">
					    <%= form.submit "Emitir informe", class: "btn btn-primary" %>
					  </div>
					<% end %>
				</div>
      </div>
      <div class="modal-footer">
				<%= link_to "Cerrar", @empresa, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
