<div class="row">
	<h1>Empresas</h1>
</div>

<div class="row">
	<input id="buscaEmpresa" type="text" class="form-control"
   placeholder="Buscar..." />
</div>

<div class="row">

	<table id="empresasIndex">
	  <thead>
	    <tr>
	      <th>Razon social</th>
	      <th>Cif</th>
	      <th colspan="3">Acciones</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @empresas.each do |empresa| %>
	      <tr>
	        <td><%= empresa.razon_social %></td>
	        <td><%= empresa.cif %></td>
	        <td><%= link_to mi.visibility.style("color: blue;"),
					 empresa_path(empresa), :title => "Mostrar" %></td>
	        <td><%= link_to mi.settings.style("color: rgb(255,165,0);"),
					 edit_empresa_path(empresa), :title => "Editar" %></td>
	        <td><%= link_to mi.delete.style("color: red;"),
				  empresa_path(empresa), method: :delete, data: { confirm: '¿Seguro?' },
					:title => "Eliminar" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
	<%= link_to 'Nueva Empresa', new_empresa_path,
		class: "btn btn-success" %>
</div>

<%= javascript_pack_tag "buscaEmpresa" %>
