<% if @empresa.responsables.empty? %>
	<div class="row">
		<div class="alert alert-danger text-center">
			No hay asignado ningún responsable
		</div>
	</div>
<% end %>

<div class="row">
	<p>
	  <strong>Razon social:</strong>
	  <%= @empresa.razon_social %>
	</p>

	<p>
	  <strong>Cif:</strong>
	  <%= @empresa.cif %>
	</p>

	<p>
	  <strong>Direccion:</strong>
	  <%= @empresa.direccion %>
	</p>

	<p>
	  <strong>Poblacion:</strong>
	  <%= @empresa.poblacion %>
	</p>

	<p>
	  <strong>Provincia:</strong>
	  <%= @empresa.provincia %>
	</p>

	<p>
	  <strong>Cp:</strong>
	  <%= @empresa.cp %>
	</p>

	<p>
	  <strong>Telefono:</strong>
	  <%= @empresa.telefono %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @empresa.email %>
	</p>

	<p>
	  <strong>T fuera:</strong>
		<% if @empresa.t_fuera == 0 %>
	  	No
		<% else %>
			Sí
		<% end %>
	</p>
</div>

<div class="row">
	<%= link_to 'Edit', edit_empresa_path(@empresa) %>
	<%= link_to 'Back', empresas_path %>
</div>

<div class="row bg-light rounded p-3 text-white">
	<div class="d-flex justify-content-evenly">
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse"
		 data-bs-target="#responsables" aria-expanded="false"
		 aria-controls="responsables">Responsables</button>
		 <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
	 	 data-bs-target="#centros" aria-expanded="false"
	 	 aria-controls="centros">Centros</button>
		 <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
	 	 data-bs-target="#trabajadores" aria-expanded="false"
	 	 aria-controls="trabajadores">Trabajadores</button>
	</div>
</div>

<%= render "empresas/lista_responsable_empresa" %>

<%= render "empresas/lista_centros_empresa" %>

<%= render "empresas/lista_trabajadores_empresa" %>
