

<% if @empresa.centros.empty? %>
	<div class="row">
		<div class="alert alert-danger text-center">
			No hay creado ningún centro
		</div>
	</div>
<% end %>

<div class="row">
	<h1><%= @empresa.razon_social %></h1>
</div>

<div class="row">
	<%= link_to 'Editar', edit_empresa_path(@empresa),
	class: "btn btn-warning" %>
</div>

<div class="row">
	<table id="showEmpresa" class="shadow">
		<tr>
			<th><strong>Cif:</strong></th>
			<td colspan="7"><%= @empresa.cif %></td>
		</tr>
		<tr>
			<th><strong>Direccion:</strong></th>
			<td colspan="7"><%= @empresa.direccion %></td>
		</tr>
		<tr>
			<th><strong>Poblacion:</strong></th>
			<td colspan="7"><%= @empresa.poblacion %></td>
		</tr>
		<tr>
			<th><strong>Provincia:</strong></th>
			<td colspan="5"><%= @empresa.provincia %></td>
			<th><strong>Cp:</strong></th>
			<td><%= @empresa.cp %></td>
		</tr>
		<tr>
			<th><strong>Telefono:</strong></th>
			<td><%= @empresa.telefono %></td>
			<th><strong>Email:</strong></th>
			<td colspan="5"><%= @empresa.email %></td>
		</tr>
		<tr>
			<th colspan="7">¿Tiene trabajadores fuera?</th>
			<td>
				<% if @empresa.t_fuera == 0 %>
					No
				<% else %>
					Sí
				<% end %>
			</td>
		</tr>
	</table>
</div>

<div class="row bg-light rounded shadow">
		<div class="accordion" id="accordionEmpresa">
			<%= render "empresas/lista_responsable_empresa" %>
			<%= render "empresas/lista_centros_empresa" %>
			<%= render "empresas/lista_trabajadores_empresa" %>
		</div>
</div>

<div class="row bg-light rounded shadow">
		<div class="accordion" id="accordionEmpresaDos">
			<%= render "empresas/politica_prevencion" %>
			<%= render "empresas/organizacion_empresarial" %>
			<%= render "empresas/practicas" %>
			<%= render "empresas/medidas" %>
			<%= render "empresas/presupuesto" %>
		</div>
</div>

<div class="row">
		<%= link_to 'Atrás', empresas_path,
		class: "btn btn-danger"  %>
</div>
