<% if @empresa.responsables.empty? %>
	<div class="row">
		<div class="alert alert-danger text-center">
			No hay asignado ningún responsable
		</div>
	</div>
<% end %>

<div class="row">
	<p>
	  <strong>Razon social:</strong>
	  <%= @empresa.razon_social %>
	</p>

	<p>
	  <strong>Cif:</strong>
	  <%= @empresa.cif %>
	</p>

	<p>
	  <strong>Direccion:</strong>
	  <%= @empresa.direccion %>
	</p>

	<p>
	  <strong>Poblacion:</strong>
	  <%= @empresa.poblacion %>
	</p>

	<p>
	  <strong>Provincia:</strong>
	  <%= @empresa.provincia %>
	</p>

	<p>
	  <strong>Cp:</strong>
	  <%= @empresa.cp %>
	</p>

	<p>
	  <strong>Telefono:</strong>
	  <%= @empresa.telefono %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @empresa.email %>
	</p>

	<p>
	  <strong>T fuera:</strong>
		<% if @empresa.t_fuera == 0 %>
	  	No
		<% else %>
			Sí
		<% end %>
	</p>
</div>

<div class="row">
	<%= link_to 'Edit', edit_empresa_path(@empresa) %>
	<%= link_to 'Back', empresas_path %>
</div>

<div class="row bg-light rounded p-3 text-white">
	<div class="d-flex justify-content-evenly">
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse"
		 data-bs-target="#responsables" aria-expanded="false"
		 aria-controls="responsables">Responsables</button>
		 <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
	 	 data-bs-target="#centros" aria-expanded="false"
	 	 aria-controls="centros">Centros</button>
		 <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
	 	 data-bs-target="#trabajadores" aria-expanded="false"
	 	 aria-controls="trabajadores">Trabajadores</button>
	</div>
</div>

<div class="row">
	<div class="collapse multi-collapse" id="responsables">
		<h2>Responsables</h2>
		<table>
			<thead>
				<tr>
					<th>Nombre y apellidos</th>
					<th>Cargo</th>
					<th colspan="3">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if @empresa.responsables.empty? %>
					<tr>
						<td colspan="5">No hay ningún responsable creado todavía</td>
					</tr>
				<% else %>
					<% @empresa.responsables.each do |r| %>
						<tr>
							<td><%= r.nombre + " " + r.apellidos %></td>
							<td><%= r.cargo %></td>
							<td><%= link_to 'Mostrar', responsable_path(r),
								class: "btn btn-small btn-info" %></td>
							<td><%= link_to 'Editar', edit_responsable_path(r),
								class: "btn btn-small btn-warning" %></td>
							<td><%= link_to 'Eliminar', responsable_path(r),
								 method: :delete, data: { confirm: '¿Seguro?' },
								 class: "btn btn-small btn-danger"  %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="col-12 text-end">
			<%= link_to 'Añadir responsable', new_empresa_responsable_path(@empresa),
			 class: "btn btn-dark" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="collapse multi-collapse" id="centros">
		<h2>Centros</h2>
		<table>
			<thead>
				<tr>
					<th>Nombre del Centro</th>
					<th>Direccion</th>
					<th>Poblacion</th>
					<th colspan="3">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if @empresa.centros.empty? %>
					<tr>
						<td colspan="5">No hay ningún responsable creado todavía</td>
					</tr>
				<% else %>
					<% @empresa.centros.each do |c| %>
						<tr>
							<td><%= c.nombre %></td>
							<td><%= c.direccion %></td>
							<td><%= c.poblacion %></td>
							<td><%= link_to 'Mostrar', centro_path(c),
								class: "btn btn-small btn-info" %></td>
							<td><%= link_to 'Editar', edit_centro_path(c),
								class: "btn btn-small btn-warning" %></td>
							<td><%= link_to 'Eliminar', centro_path(c),
								 method: :delete, data: { confirm: '¿Seguro?' },
								 class: "btn btn-small btn-danger"  %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="col-12 text-end">
			<%= link_to 'Añadir Centro', new_empresa_centro_path(@empresa),
			 class: "btn btn-dark" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="collapse multi-collapse" id="trabajadores">
		<h2>Trabajadores activos</h2>
		<table>
			<thead>
				<tr>
					<th>Nombre y apellidos</th>
					<th>Puesto</th>
					<th>Centro</th>
					<th colspan="4">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% @t_activos.each do |t| %>
					<tr>
						<td><%= t.nombre + " " + t.apellidos %></td>
						<td><%= t.puesto %></td>
						<td><%= link_to "#{t.centro.nombre}", centro_path(t.centro) %></td>
						<td><%= link_to 'Mostrar', trabajador_path(t),
							class: "btn btn-small btn-info" %></td>
						<td><%= link_to 'Editar', edit_trabajador_path(t),
							class: "btn btn-small btn-warning" %></td>
						<td><%= link_to "Dar de baja", dar_baja_trabajador_path(t),
							 class: "btn btn-secondary text-white" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% if !@t_baja.empty? %>
		<div class="row text-white">
			<div class="d-flex justify-content-end">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse"
				 data-bs-target="#t_baja" aria-expanded="false"
				 aria-controls="t_baja">Ver trabajadores inactivos</button>
			</div>
		</div>
		<div class="row">
			<div class="collapse" id="t_baja">
				<h2>Trabajadores inactivos</h2>
				<table>
					<thead>
						<tr>
							<th>Nombre y apellidos</th>
							<th>Puesto</th>
							<th>Centro</th>
							<th colspan="3">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<% @t_baja.each do |tb| %>
							<tr>
								<td><%= t.nombre + " " + t.apellidos %></td>
								<td><%= tb.puesto %></td>
								<td><%= tb.centro.nombre %></td>
								<td><%= link_to 'Mostrar', trabajador_path(tb),
									class: "btn btn-small btn-info" %></td>
								<td><%= link_to 'Editar', edit_trabajador_path(tb),
									class: "btn btn-small btn-warning" %></td>
								<td><%= link_to 'Dar de alta', dar_alta_trabajador_path(tb),
									 class: "btn btn-small btn-secondary text-white"  %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%== pagy_bootstrap_nav(@pagy_inactivo) %>
			</div>
		</div>
		<% end %>
	</div>
</div>
