<div class="row">
		<h1><%= @centro.nombre %></h1>
</div>

<div class="row">
	<%= link_to 'Editar', edit_centro_path(@centro), class: "btn btn-warning" %>
</div>

<div class="row">
	<div class="accordion" id="accordionCentro">
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="headingDatosGenerales">
	      <button class="accordion-button collapsed" type="button"
				 data-bs-toggle="collapse" data-bs-target="#collapseDatosGenerales"
				 aria-expanded="false" aria-controls="collapseDatosGenerales">
	        Datos generales
	      </button>
	    </h2>
	    <div id="collapseDatosGenerales" class="accordion-collapse collapse"
			 aria-labelledby="headingDatosGenerales" data-bs-parent="#accordionCentro">
	      <div class="accordion-body">
					<table>
						<tr>
							<th colspan="2">Dirección</th>
							<td colspan="10"><%= @centro.direccion %></td>
						</tr>
						<tr>
							<th colspan="2">Población</th>
							<td colspan="10"><%= @centro.poblacion %></td>
						</tr>
						<tr>
							<th colspan="2">Provincia</th>
							<td colspan="4"><%= @centro.provincia %></td>
							<th colspan="2">Cp</th>
							<td colspan="4"><%= @centro.cp %></td>
						</tr>
						<tr>
							<th colspan="2">Actividad</th>
							<td colspan="10"><%= @centro.actividad %></td>
						</tr>
						<tr>
							<th colspan="2">Localización</th>
							<td colspan="10"><%= @centro.localizacion %></td>
						</tr>
						<tr>
							<th colspan="4">N. Trabajadores Activos</th>
							<td colspan="2"><%= @centro.trabajadors.where(activo: 1).count %></td>
							<th colspan="4">Superficie</th>
							<td colspan="2"><%= @centro.superficie %></td>
						</tr>
						<tr>
							<th colspan="4">N. Plantas</th>
							<td colspan="2"><%= @centro.plantas_ocupadas %></td>
							<th colspan="4">Aforo máx.</th>
							<td colspan="2"><%= @centro.aforo_max %></td>
						</tr>
					</table>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="headingEntorno">
	      <button class="accordion-button collapsed" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapseEntorno"
				aria-expanded="false" aria-controls="collapseEntorno">
	        Entorno de la empresa
	      </button>
	    </h2>
	    <div id="collapseEntorno" class="accordion-collapse collapse"
			aria-labelledby="headingEntorno" data-bs-parent="#accordionCentro">
	      <div class="accordion-body">
	        <table>
						<tr>
							<th colspan="2">Entorno</th>
							<td colspan="10"><%= @centro.entorno %></td>
						</tr>
						<tr>
							<th colspan="4">Act. derecha</th>
							<td colspan="2"><%= @centro.act_derecha %></td>
							<th colspan="4">Act. izquierda</th>
							<td colspan="2"><%= @centro.act_izquierda %></td>
						</tr>
						<tr>
							<th colspan="4">Act. frontal</th>
							<td colspan="2"><%= @centro.act_frontal %></td>
							<th colspan="4">Act. trasera</th>
							<td colspan="2"><%= @centro.act_trasera %></td>
						</tr>
						<tr>
							<th colspan="4">Act. superior</th>
							<td colspan="2"><%= @centro.act_superior %></td>
							<th colspan="4">Act. inferior</th>
							<td colspan="2"><%= @centro.act_inferior %></td>
						</tr>
						<tr>
	        </table>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="headingAccesos">
	      <button class="accordion-button collapsed" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapseAccesos"
				aria-expanded="false" aria-controls="collapseAccesos">
	        Accesos
	      </button>
	    </h2>
	    <div id="collapseAccesos" class="accordion-collapse collapse"
			aria-labelledby="headingAccesos" data-bs-parent="#accordionCentro">
	      <div class="accordion-body">
	        <table>
						<tr>
							<th colspan="2">Acceso empleados</th>
							<td colspan="10"><%= @centro.acceso_empleados %></td>
						</tr>
						<tr>
							<th colspan="2">Accesso clientes</th>
							<td colspan="10"><%= @centro.accesso_clientes %></td>
						</tr>
	        </table>
	      </div>
	    </div>
	  </div>
		<div class="accordion-item">
	    <h2 class="accordion-header" id="headingInstalaciones">
	      <button class="accordion-button collapsed" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapseInstalaciones"
				 aria-expanded="false" aria-controls="collapseInstalaciones">
	        Instalaciones
	      </button>
	    </h2>
	    <div id="collapseInstalaciones" class="accordion-collapse collapse"
			 aria-labelledby="headingInstalaciones" data-bs-parent="#accordionCentro">
	      <div class="accordion-body">
	        <table>
						<tr>
							<th colspan="12">Eléctricas</th>
						</tr>
						<tr>
							<th colspan="10">¿Tiene instalación eléctrica de baja tensión?</th>
							<% if @centro.inst_baja_tension == 0 %>
								<td colspan="2">NO</td>
							<% else %>
								<td colspan="2">SI</td>
							<% end %>
						</tr>
						<tr>
							<th colspan="6">El cuadro general de protección se ubica en: </th>
							<td colspan="6"><%= @centro.ubicacion_cuadro_general %></td>
						</tr>
						<tr>
							<th colspan="10">¿Tiene centro de transormación (ct) perteneciente
								al centro de trabajo?</th>
								<% if  @centro.es_ct == 0 %>
									<td colspan="2">NO</td>
								<% else %>
									<td colspan="2">SI</td>
								<% end %>
						</tr>
						<tr>
							<th colspan="10">En caso afirmativo, ¿está el ct ubicado
								en el interior de la edificación?</th>
								<% if @centro.ub_interior_ct == 0 %>
									<td colspan="2">NO</td>
								<% else %>
									<td colspan="2">SI</td>
								<% end %>
						</tr>
						<tr>
							<th colspan="10">¿Está el ct ubicado en el exterior
								de una caseta independiente?</th>
								<% if @centro.ub_caseta_ext_ct == 0 %>
									<td colspan="2">NO</td>
								<% else %>
									<td colspan="2">SI</td>
								<% end %>
						</tr>
						<tr>
							<th colspan="2">Potencia del CT</th>
							<td colspan="1"><%= @centro.potencia_ct %></td>
							<th colspan="3">Empresa mantenedora</th>
							<td colspan="6"><%= @centro.e_mant_ct %></td>
						</tr>
						<tr>
							<th colspan="12">Calefacción / Aire acondicionado</th>
						</tr>
						<tr>
							<th colspan="10">¿Tiene instalación de calefacción/
								acondicionamiento de aire?</th>
								<% if @centro.es_aacc == 0 %>
									<td colspan="2">NO</td>
								<% else %>
									<td colspan="2">SI</td>
								<% end %>
						</tr>
						<tr>
							<th colspan="10">¿Qué tipo de calefacción/
								acondicionamiento de aire?</th>
							<td colspan="2"><%= @centro.sit_aacc %></td>
						</tr>
						<tr>
							<th colspan="12">Ventilación</th>
						</tr>
						<tr>
							<th colspan="10">¿Tiene sistemas de ventilación?</th>
							<% if @centro.es_ventilacion == 0 %>
								<td colspan="2">NO</td>
							<% else %>
								<td colspan="2">SI</td>
							<% end %>
						</tr>
						<tr>
							<th colspan="6">¿Qué tipo de sistema de ventilación posee?</th>
							<td colspan="6"><%= @centro.sit_ventilacion %></td>
						</tr>
						<tr>
							<th colspan="12">Ascensores / Montagargas</th>
						</tr>
						<tr>
							<th colspan="5">¿Tiene ascensores / montagargas?</th>
							<% if @centro.es_ascensor == 0 %>
								<td colspan="1">NO</td>
							<% else %>
								<td colspan="1">SI</td>
							<% end %>
							<th colspan="5">N. ascensores</th>
							<td colspan="1"><%= @centro.n_ascensores %></td>
						</tr>
						<tr>
							<th colspan="12">Sistemas de frío</th>
						</tr>
						<tr>
							<th colspan="3">¿Tiene sistemas de frío?</th>
							<% if @centro.es_frio == 0 %>
								<td colspan="1">NO</td>
							<% else %>
								<td colspan="1">SI</td>
							<% end %>
							<th colspan="3">N. cámaras de frío</th>
							<td colspan="1"><%= @centro.n_cam_frio %></td>
							<th colspan="3">N. cámaras de congelados</th>
							<td colspan="1"><%= @centro.n_cam_congelados %></td>
						</tr>
						<tr>
							<th colspan="6">Ubicación de los compresores</th>
							<td colspan="6"><%= @centro.ub_compresores %></td>
						</tr>
						<tr>
							<th colspan="12">Otras instalaciones</th>
						</tr>
						<tr>
							<td colspan="12"><%= @centro.otras_inst %></td>
						</tr>
					</table>
	      </div>
	    </div>
	  </div>
	</div>
</div>

	<div class="row">
		<div class="accordion" id="accordionCentro">
		  <div class="accordion-item">
		    <h2 class="accordion-header" id="headingTIncendio">
		      <button class="accordion-button collapsed" type="button"
					 data-bs-toggle="collapse" data-bs-target="#collapseTIncendio"
					 aria-expanded="false" aria-controls="collapseTIncencio">
		        Recursos humanos en caso de incendio
		      </button>
		    </h2>
		    <div id="collapseTIncendio" class="accordion-collapse collapse"
				 aria-labelledby="headingTIncendio" data-bs-parent="#accordionCentro">
		      <div class="accordion-body">
						<%= render "centros/lista_t_incendio" %>
		      </div>
		    </div>
		  </div>
			<div class="accordion-item">
		    <h2 class="accordion-header" id="headingTEvacuacion">
		      <button class="accordion-button collapsed" type="button"
					 data-bs-toggle="collapse" data-bs-target="#collapseTEvacuacion"
					 aria-expanded="false" aria-controls="collapseTEvacuacion">
		        Recursos humanos en caso de evacuación
		      </button>
		    </h2>
		    <div id="collapseTEvacuacion" class="accordion-collapse collapse"
				 aria-labelledby="headingTEvacuacion" data-bs-parent="#accordionCentro">
		      <div class="accordion-body">
						<%= render "centros/lista_t_incendio" %>
		      </div>
		    </div>
		  </div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTAuxilio">
					<button class="accordion-button collapsed" type="button"
					 data-bs-toggle="collapse" data-bs-target="#collapseTAuxilio"
					 aria-expanded="false" aria-controls="collapseTAuxilio">
						Recursos humanos en caso de Primeros Auxilios
					</button>
				</h2>
				<div id="collapseTAuxilio" class="accordion-collapse collapse"
				 aria-labelledby="headingTAuxilio" data-bs-parent="#accordionCentro">
					<div class="accordion-body">
						<%= render "centros/lista_t_auxilio" %>
					</div>
				</div>
			</div>
		</div>
	</div>

<%= render "centros/modal_informe_eval" %>

<div class="row my-3 d-flex mx-auto">
	<%= render "centros/lista_trabajadors" %>
</div>

<div class="row mt-3">
	<%= link_to 'Atrás', empresa_path(@centro.empresa), class: "btn btn-danger" %>
</div>
