<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @centro.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @centro.direccion %>
</p>

<p>
  <strong>Poblacion:</strong>
  <%= @centro.poblacion %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @centro.provincia %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @centro.cp %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @centro.actividad %>
</p>

<p>
  <strong>N trabajadores:</strong>
  <%= @centro.n_trabajadores %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @centro.localizacion %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @centro.superficie %>
</p>

<p>
  <strong>Plantas ocupadas:</strong>
  <%= @centro.plantas_ocupadas %>
</p>

<p>
  <strong>Aforo max:</strong>
  <%= @centro.aforo_max %>
</p>

<p>
  <strong>Entorno:</strong>
  <%= @centro.entorno %>
</p>

<p>
  <strong>Act derecha:</strong>
  <%= @centro.act_derecha %>
</p>

<p>
  <strong>Act izquierda:</strong>
  <%= @centro.act_izquierda %>
</p>

<p>
  <strong>Act frontal:</strong>
  <%= @centro.act_frontal %>
</p>

<p>
  <strong>Act trasera:</strong>
  <%= @centro.act_trasera %>
</p>

<p>
  <strong>Act superior:</strong>
  <%= @centro.act_superior %>
</p>

<p>
  <strong>Act inferior:</strong>
  <%= @centro.act_inferior %>
</p>

<p>
  <strong>Acceso empleados:</strong>
  <%= @centro.acceso_empleados %>
</p>

<p>
  <strong>Accesso clientes:</strong>
  <%= @centro.accesso_clientes %>
</p>

<p>
  <strong>Inst baja tension:</strong>
  <%= @centro.inst_baja_tension %>
</p>

<p>
  <strong>Ubicacion cuadro general:</strong>
  <%= @centro.ubicacion_cuadro_general %>
</p>

<p>
  <strong>Es ct:</strong>
  <%= @centro.es_ct %>
</p>

<p>
  <strong>Ub interior ct:</strong>
  <%= @centro.ub_interior_ct %>
</p>

<p>
  <strong>Ub caseta ext ct:</strong>
  <%= @centro.ub_caseta_ext_ct %>
</p>

<p>
  <strong>Potencia ct:</strong>
  <%= @centro.potencia_ct %>
</p>

<p>
  <strong>E mant ct:</strong>
  <%= @centro.e_mant_ct %>
</p>

<p>
  <strong>Es aacc:</strong>
  <%= @centro.es_aacc %>
</p>

<p>
  <strong>Sit aacc:</strong>
  <%= @centro.sit_aacc %>
</p>

<p>
  <strong>Es ventilacion:</strong>
  <%= @centro.es_ventilacion %>
</p>

<p>
  <strong>Sit ventilacion:</strong>
  <%= @centro.sit_ventilacion %>
</p>

<p>
  <strong>Es ascensor:</strong>
  <%= @centro.es_ascensor %>
</p>

<p>
  <strong>N ascensores:</strong>
  <%= @centro.n_ascensores %>
</p>

<p>
  <strong>Es frio:</strong>
  <%= @centro.es_frio %>
</p>

<p>
  <strong>N cam congelados:</strong>
  <%= @centro.n_cam_congelados %>
</p>

<p>
  <strong>N cam frio:</strong>
  <%= @centro.n_cam_frio %>
</p>

<p>
  <strong>Ub compresores:</strong>
  <%= @centro.ub_compresores %>
</p>

<p>
  <strong>Otras inst:</strong>
  <%= @centro.otras_inst %>
</p>

<%= link_to 'Editar', edit_empresa_centro_path(@centro) %> |
<%= link_to 'Atrás', empresa_path(@empresa) %>
