<div class="row">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
			<%= link_to "Inicio", root_path, class: "navbar-brand" %>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			 data-bs-target="#navbarNav" aria-controls="navbarNav"
			 aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
					<% if user_signed_in? %>
		        <li class="nav-item">
							<%= link_to "Usuarios", users_path, class: "nav-link" %>
		        </li>
						<li><%= link_to "Editar perfil", edit_user_registration_path,
							class: "btn btn-warning btn-small" %></li>
						<li><%= link_to "Salir", destroy_user_session_path, method: :delete,
							class: "btn btn-danger btn-small" %></li>
					<% else %>
						<li><%= link_to "Registrarse", new_user_registration_path,
							class: "btn btn-info btn-small" %></li>
						<li>	<%= link_to "Entrar", new_user_session_path,
							class: "btn btn-success btn-small" %></li>
					<% end %>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>
