<!DOCTYPE html>
<html>
  <head>
    <title>PrlApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  </head>

  <body>
		<% if user_signed_in? %>
			<div class="row text-end">
				<p>Sesión iniciada como <%= current_user.email %></p>
			</div>
		<% end %>

		<%= render "layouts/nav" %>

		<div class="row">
			<% flash.each do |name, msg| %>
				<div class="alert alert-info text-center">
					<%= content_tag :div, msg, id: "flash_#{name}" %>
				</div>
			<% end %>
		</div>

		<div class="container">
			<%= yield %>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>

</html>
